@import './partials/variables';

.about{
    height: 100vh;
    
    > div nav{
        background-color: $primaryColor;
    }
    .about__header{
        padding: 6rem;
    }
}

@media (max-width: 992px) {
    .about{

        > div nav{
            background-color: $primaryColor;
        }
        
    }
}