@import 'partials/_variables.scss';

.home__header{
    height: 100vh;
    background-image: url('../assets/bg-desktop.jpg');
    background-position: 0%;

    .home__header--filter{
        height: 100%;
        background: linear-gradient(180deg, #00000000 0%, #000000 50%, $primaryColor 100%);
    }
}

@media (max-width: 992px) {
    .home__header{
        background-size: cover;
        background-position: 20%;

        .home__header--filter{
            background: linear-gradient(180deg, #00000000 0%, #000000 70%, $primaryColor 100%);
        }
    }
}