.header__apresentacao{
    color: #fff;
    margin-top: 40%;

    display: flex;
    
    .apresentacao__img {
        flex: 2;
        text-align: center;
        img{
            width: 240px;
        }

    }
    .apresentacao__bio{
        display: flex;
        flex-direction: column;
        flex: 3;

        justify-content: center;
        text-align: left;

        p{
            font-size: 25px;
            
            &:nth-child(1){
                margin-bottom: 15px;
            } 

            span{
                padding: 3px;
                color: #61dafb;

                &.text-filter{
                    background-color: #00000077;
                }
            }
        }
    }
}