.header__apresentacao{
    color: #fff;
    margin-top: 40%;

    display: flex;
    
    .apresentacao__bio{
        display: flex;
        flex-direction: column;

        justify-content: center;
        text-align: left;

        p{
            font-size: 30px;
            
            span{
                font-size: 45px;
                font-weight: bold;
                color: #61dafb;
                text-transform: uppercase;
                display: inline-block;
                margin: 20px 0;

                &.text-filter{
                    background-color: #00000077;
                }
            }
        }
    }
}